@charset "UTF-8";

@import "./color.scss";
@import "./mixin";

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    height: initial;
    position: relative;
    overflow: visible;
}

header {
    // position: fixed;
    width: 100%;
    height: 70px;
    top: 0px;
    box-sizing: border-box;
    // z-index: 10;
    // background: linear-gradient(-45deg, #000000, rgb(61, 22, 41), rgb(36, 20, 63), #68648b);

    position: sticky;
  top: 0px; /* 도달했을때 고정시킬 위치 */
  padding: 5px;
  background-color: inherit;
  z-index: 10;

    .header_container {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        padding: 0 50px;
        margin: 0 auto;
        box-sizing: border-box;
        justify-content: space-between;
        color: black;
        font-weight: 500;
        z-index: 10;
        .right {
            ul {
                gap: 10px;
            }
        }
    }
}

.fullpage {
    position: relative;
    height: 100%;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh)* 100);
    background: linear-gradient(-45deg, #000000, rgb(61, 22, 41), rgb(36, 20, 63), #68648b);
    .wrap {
        padding: 80px 0; 
    }
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

//main
.main {
    height: 100vh;
    > div {
        position: absolute;
        width: 100%;
        top: 42vh;
        h1 {
            height: 100%;
            text-align: center;
            span {
                position: relative;
                top: 20px;
                display: inline-block;
                animation: bounce .3s ease infinite alternate;
                font-family: 'Titan One', cursive;
                font-size: 10rem;
                text-shadow: 0 1px 0 #CCC,
                    0 2px 0 #CCC,
                    0 3px 0 #CCC,
                    0 4px 0 #CCC,
                    0 5px 0 #CCC,
                    0 6px 0 transparent,
                    0 7px 0 transparent,
                    0 8px 0 transparent,
                    0 9px 0 transparent,
                    0 10px 10px rgba(0, 0, 0, .4);
            }
        }
    
        h1 span:nth-child(2) { animation-delay: .1s; }
        h1 span:nth-child(3) { animation-delay: .2s; }
        h1 span:nth-child(4) { animation-delay: .3s; }
        h1 span:nth-child(5) { animation-delay: .4s; }
        h1 span:nth-child(6) { animation-delay: .5s; }
      
        @keyframes bounce {
            100% {
                top: -20px;
                text-shadow: 0 1px 0 #CCC,
                    0 2px 0 #CCC,
                    0 3px 0 #CCC,
                    0 4px 0 #CCC,
                    0 5px 0 #CCC,
                    0 6px 0 #CCC,
                    0 7px 0 #CCC,
                    0 8px 0 #CCC,
                    0 9px 0 #CCC,
                    0 50px 25px rgba(0, 0, 0, .2);
            }
        }
    }
}

// intro
.intro {
    height: auto;
    min-height: auto;
    background-color: skyblue;
    .wrap {
        opacity: 0;
        padding-top: 200px;
        max-width: 900px;
        margin: 0 auto;
        .flex {
            justify-content: inherit;
        }
    }
    .profile {
        width: auto;
        height: auto;
        border: 1px solid $color-fff;
        text-align: center;
        padding: 100px 40px;
        margin-right: 140px;
        border-radius: 6px;
        box-sizing: border-box;
        h1 {
            font-size: 2.7rem;
        }
        .images {
            background-image: url('../images/profile.png');
            width: 100%;
            height: 19vh;
            background-repeat: no-repeat;
            background-size: 19vh 19vh;
            background-position: center;
            margin: 30px 0;
        }
        ul {
            li {
                text-align: left;
                font-size: 1rem;
                font-weight: 500;
                line-height: 2rem;
            }
        }
    }
    .info {
        .info-box {
            + .info-box {
                margin-top: 30px;
            }
            .info-tit {
                line-height: 2.5rem;
                border-bottom: 1px solid $color-fff;
                margin-bottom: 15px;
                strong {
                    font-size: 2rem;
                }
            }
            .box {
                display: flex;
                gap: 15px;
                line-height: 2;
                p {
                    font-size: 0.8rem;
                    line-height: 2.5;
                }
                .icon {
                    width: 50px;
                    height: 50px;
                    border-radius: 12px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-color: $color-fff;
                    background-size: 5vh;
                    &.vscode {
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M0.228341 8.36915C0.228341 8.36915 -0.356212 7.94324 0.345251 7.37453L1.97956 5.89736C1.97956 5.89736 2.44721 5.40004 2.94164 5.83334L18.0231 17.375V22.9094C18.0231 22.9094 18.0158 23.7785 16.9124 23.6825L0.228341 8.36915Z' fill='black'/%3E%3Cpath d='M4.11555 11.9367L0.228273 15.5089C0.228273 15.5089 -0.171172 15.8093 0.228273 16.346L2.03308 18.0053C2.03308 18.0053 2.46175 18.4706 3.09502 17.9413L7.21611 14.7827L4.11555 11.9367Z' fill='black'/%3E%3Cpath d='M10.94 11.9661L18.0691 6.46362L18.0228 0.95865C18.0228 0.95865 17.7183 -0.242793 16.7027 0.382548L7.21589 9.11025L10.94 11.9661Z' fill='black'/%3E%3Cpath d='M16.9121 23.69C17.3261 24.1183 17.8279 23.978 17.8279 23.978L23.3838 21.2108C24.0951 20.7208 23.9952 20.1127 23.9952 20.1127V3.58803C23.9952 2.86175 23.2596 2.61063 23.2596 2.61063L18.4441 0.264377C17.3919 -0.392968 16.7027 0.382548 16.7027 0.382548C16.7027 0.382548 17.5892 -0.262484 18.0228 0.95865L18.0228 22.8086C18.0228 22.9588 17.9911 23.1065 17.9278 23.2394C17.8011 23.4979 17.5259 23.7392 16.8658 23.6383L16.9121 23.69Z' fill='black'/%3E%3C/svg%3E");    
                        background-size: 3vh;
                    }
                    &.html {
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' enable-background='new 0 0 56.693 56.693' height='56.693px' id='Layer_1' version='1.1' viewBox='0 0 56.693 56.693' width='56.693px' xml:space='preserve'%3E%3Cg%3E%3Cpolygon enable-background='new ' points='16.356,9.799 18.382,9.799 18.382,12.018 20.598,12.018 20.598,5.391 18.382,5.391 18.382,7.581 16.356,7.581 16.356,5.391 14.141,5.391 14.141,12.018 16.356,12.018 '/%3E%3Cpolygon enable-background='new ' points='23.51,12.018 25.725,12.018 25.725,7.59 27.674,7.59 27.674,5.391 21.561,5.391 21.561,7.59 23.51,7.59 '/%3E%3Cpolygon enable-background='new ' points='30.812,8.735 32.338,11.09 32.375,11.09 33.898,8.735 33.898,12.018 36.105,12.018 36.105,5.391 33.795,5.391 32.375,7.723 30.955,5.391 28.646,5.391 28.646,12.018 30.812,12.018 '/%3E%3Cpolygon enable-background='new ' points='42.537,9.829 39.422,9.829 39.422,5.391 37.207,5.391 37.207,12.018 42.537,12.018 '/%3E%3Cpath d='M10.949,14.926l3.168,35.532l14.221,3.947L42.57,50.46l3.174-35.534H10.949z M38.871,26.546 H28.346h-6.152l0.398,4.463h5.754h10.129l-1.195,13.383l-8.934,2.475l-0.006,0.002l-8.928-2.477l-0.623-7h4.374l0.324,3.631 l4.854,1.312l0.006-0.002l0,0l4.859-1.312l0.506-5.652h-5.365l0,0h-9.739L17.431,22.19h10.915H39.26L38.871,26.546z' enable-background='new '/%3E%3C/g%3E%3C/svg%3E");
                    }
                    &.css {
                        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8l-6-6zM9.446 17.412c.275 0 .581-.061.762-.132l.138.713c-.168.084-.546.174-1.037.174-1.397 0-2.117-.869-2.117-2.021C7.191 14.768 8.175 14 9.398 14c.474 0 .833.096.995.18l-.186.726a1.98 1.98 0 0 0-.768-.149c-.726 0-1.29.438-1.29 1.337.001.808.482 1.318 1.297 1.318zm2.491.755c-.461 0-.917-.119-1.145-.245l.186-.756c.246.126.624.252 1.014.252.42 0 .642-.174.642-.438 0-.252-.192-.396-.678-.57-.672-.234-1.109-.605-1.109-1.193 0-.689.575-1.217 1.529-1.217.455 0 .791.096 1.031.203l-.204.738a1.919 1.919 0 0 0-.846-.192c-.396 0-.587.181-.587.39 0 .258.228.372.749.57.714.264 1.05.636 1.05 1.205-.001.678-.523 1.253-1.632 1.253zm3.24 0c-.461 0-.917-.119-1.145-.245l.186-.756c.246.126.624.252 1.014.252.42 0 .642-.174.642-.438 0-.252-.192-.396-.678-.57-.672-.234-1.109-.605-1.109-1.193 0-.689.575-1.217 1.529-1.217.455 0 .791.096 1.031.203l-.204.738a1.919 1.919 0 0 0-.846-.192c-.396 0-.587.181-.587.39 0 .258.228.372.749.57.714.264 1.05.636 1.05 1.205 0 .678-.523 1.253-1.632 1.253zM14 9h-1V4l5 5h-4z'/%3E%3C/svg%3E");
                    }
                    &.scss {
                        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg class='bi bi-filetype-scss' fill='currentColor' height='16' viewBox='0 0 16 16' width='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 4.5V11h-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.356 15.29a1.176 1.176 0 0 1-.111-.449h.765a.578.578 0 0 0 .255.384c.07.049.153.087.249.114.095.028.202.041.319.041.164 0 .302-.023.413-.07a.559.559 0 0 0 .255-.193.506.506 0 0 0 .085-.29.387.387 0 0 0-.153-.326c-.101-.08-.255-.144-.462-.193l-.619-.143a1.72 1.72 0 0 1-.539-.214 1.001 1.001 0 0 1-.351-.367 1.068 1.068 0 0 1-.123-.524c0-.244.063-.457.19-.639.127-.181.303-.322.528-.422.224-.1.483-.149.776-.149.305 0 .564.05.78.152.216.102.383.239.5.41.12.17.186.359.2.566h-.75a.56.56 0 0 0-.12-.258.624.624 0 0 0-.247-.181.923.923 0 0 0-.369-.068c-.217 0-.388.05-.513.152a.472.472 0 0 0-.184.384c0 .121.048.22.143.3a.97.97 0 0 0 .405.175l.62.143c.217.05.406.12.566.211.16.09.285.21.375.358.09.148.135.335.135.56 0 .247-.063.466-.188.656a1.216 1.216 0 0 1-.539.439c-.234.105-.52.158-.858.158-.254 0-.476-.03-.665-.09a1.404 1.404 0 0 1-.478-.252 1.13 1.13 0 0 1-.29-.375Zm4.274-2.23a1.732 1.732 0 0 0-.103.633v.495c0 .246.034.455.103.627a.833.833 0 0 0 .298.392.846.846 0 0 0 .478.132.868.868 0 0 0 .401-.088.7.7 0 0 0 .273-.249.798.798 0 0 0 .117-.363h.765v.076a1.27 1.27 0 0 1-.226.674 1.39 1.39 0 0 1-.55.454 1.81 1.81 0 0 1-.786.164c-.36 0-.664-.072-.914-.217a1.424 1.424 0 0 1-.571-.626c-.13-.272-.194-.597-.194-.976v-.498c0-.38.066-.705.197-.979a1.44 1.44 0 0 1 .57-.633c.253-.148.557-.222.912-.222.219 0 .421.032.607.097.187.062.35.153.489.272a1.324 1.324 0 0 1 .466.964v.073h-.765a.85.85 0 0 0-.12-.38.7.7 0 0 0-.273-.261.803.803 0 0 0-.398-.097.814.814 0 0 0-.475.138.868.868 0 0 0-.301.398Zm2.609 1.781a1.13 1.13 0 0 0 .401.823c.129.108.288.192.478.252.19.061.41.091.665.091.338 0 .624-.053.858-.158.236-.105.416-.252.54-.44a1.17 1.17 0 0 0 .187-.656c0-.224-.045-.41-.135-.56a1.002 1.002 0 0 0-.375-.357 2.028 2.028 0 0 0-.566-.21l-.62-.144a.97.97 0 0 1-.405-.176.37.37 0 0 1-.143-.299c0-.156.061-.284.184-.384.125-.101.296-.152.513-.152.142 0 .265.023.369.068a.623.623 0 0 1 .246.181.56.56 0 0 1 .12.258h.75a1.091 1.091 0 0 0-.2-.566 1.21 1.21 0 0 0-.5-.41 1.813 1.813 0 0 0-.78-.152c-.292 0-.551.05-.776.15-.224.099-.4.24-.527.421-.127.182-.19.395-.19.639 0 .201.04.376.123.524.082.149.199.27.351.367.152.095.332.167.54.213l.617.144c.207.049.362.113.463.193a.387.387 0 0 1 .153.326.512.512 0 0 1-.085.29.558.558 0 0 1-.255.193 1.07 1.07 0 0 1-.413.07c-.118 0-.224-.013-.32-.04a.837.837 0 0 1-.249-.115.578.578 0 0 1-.255-.384H8.24Zm3.502.449a1.176 1.176 0 0 1-.11-.449h.764a.578.578 0 0 0 .255.384c.07.049.153.087.249.114.095.028.202.041.319.041.164 0 .302-.023.413-.07a.558.558 0 0 0 .255-.193.506.506 0 0 0 .085-.29.387.387 0 0 0-.152-.326c-.102-.08-.256-.144-.463-.193l-.618-.143a1.72 1.72 0 0 1-.54-.214 1.002 1.002 0 0 1-.351-.367 1.068 1.068 0 0 1-.123-.524c0-.244.063-.457.19-.639.127-.181.303-.322.528-.422.224-.1.483-.149.776-.149.305 0 .565.05.78.152.216.102.383.239.5.41.12.17.186.359.2.566h-.75a.56.56 0 0 0-.12-.258.623.623 0 0 0-.247-.181.923.923 0 0 0-.369-.068c-.217 0-.387.05-.512.152a.472.472 0 0 0-.185.384c0 .121.048.22.143.3a.97.97 0 0 0 .405.175l.62.143c.218.05.406.12.566.211.16.09.285.21.375.358.09.148.135.335.135.56 0 .247-.062.466-.187.656a1.217 1.217 0 0 1-.54.439c-.234.105-.52.158-.858.158-.254 0-.476-.03-.665-.09a1.404 1.404 0 0 1-.478-.252 1.131 1.131 0 0 1-.29-.375Z' fill-rule='evenodd'/%3E%3C/svg%3E");
                        background-size: 4vh;
                    }
                    &.figma {
                        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg id='Layer_1' style='enable-background:new 0 0 3000 3000;' version='1.1' viewBox='0 0 3000 3000' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%230ACF83;%7D .st1%7Bfill:%23A259FF;%7D .st2%7Bfill:%23F24E1E;%7D .st3%7Bfill:%23FF7262;%7D .st4%7Bfill:%231ABCFE;%7D%0A%3C/style%3E%3Ctitle/%3E%3Cdesc/%3E%3Cpath class='st0' d='M1083.333374,2750c230,0,416.666626-186.666748,416.666626-416.666748v-416.666626h-416.666626 c-230.000061,0-416.666687,186.666626-416.666687,416.666626S853.333313,2750,1083.333374,2750z' id='path0_fill'/%3E%3Cpath class='st1' d='M666.666687,1500c0-230,186.666626-416.666748,416.666687-416.666748H1500v833.333374 h-416.666626C853.333313,1916.666626,666.666687,1730,666.666687,1500z' id='path1_fill'/%3E%3Cpath class='st2' d='M666.666687,666.666626C666.666687,436.666656,853.333313,250,1083.333374,250H1500 v833.333252h-416.666626C853.333313,1083.333252,666.666687,896.666626,666.666687,666.666626z' id='path1_fill_1_'/%3E%3Cpath class='st3' d='M1500,250h416.666626c230.000122,0,416.666626,186.666656,416.666626,416.666626 s-186.666504,416.666626-416.666626,416.666626H1500V250z' id='path2_fill'/%3E%3Cpath class='st4' d='M2333.333252,1500c0,230-186.666504,416.666626-416.666626,416.666626S1500,1730,1500,1500 s186.666626-416.666748,416.666626-416.666748S2333.333252,1270,2333.333252,1500z' id='path3_fill'/%3E%3C/svg%3E");
                    }
                    &.js {
                        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg data-name='Layer 2' id='aba10a1f-b7e1-4da3-b2dc-2127b71637f6' viewBox='0 0 38 38' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.357,27.441a3.467,3.467,0,0,1-1.483-.321,2.852,2.852,0,0,1-1.121-.925.891.891,0,0,1-.168-.489.748.748,0,0,1,.273-.588.827.827,0,0,1,.539-.239.777.777,0,0,1,.414.126,2.062,2.062,0,0,1,.37.294,1.845,1.845,0,0,0,.553.358,1.754,1.754,0,0,0,.623.1,1.55,1.55,0,0,0,.785-.21,1.681,1.681,0,0,0,.587-.559,1.384,1.384,0,0,0,.225-.757v-5.88a.793.793,0,0,1,.265-.608.88.88,0,0,1,.616-.246.83.83,0,0,1,.869.854v5.88a2.958,2.958,0,0,1-.449,1.582,3.463,3.463,0,0,1-1.2,1.177A3.266,3.266,0,0,1,13.357,27.441Z'/%3E%3Cpath d='M13.358,27.565a3.6,3.6,0,0,1-1.538-.333,2.983,2.983,0,0,1-1.168-.964,1.017,1.017,0,0,1-.191-.563.954.954,0,0,1,1.416-.807,2.215,2.215,0,0,1,.393.313,1.714,1.714,0,0,0,.509.329,1.59,1.59,0,0,0,1.3-.1,1.561,1.561,0,0,0,.544-.518,1.248,1.248,0,0,0,.205-.69V18.355a.917.917,0,0,1,.306-.7,1.009,1.009,0,0,1,.7-.278.953.953,0,0,1,.993.979v5.879a3.093,3.093,0,0,1-.467,1.648A3.612,3.612,0,0,1,15.115,27.1,3.4,3.4,0,0,1,13.358,27.565ZM11.4,25a.709.709,0,0,0-.457.207.625.625,0,0,0-.23.494.763.763,0,0,0,.147.42,2.724,2.724,0,0,0,1.069.881,3.35,3.35,0,0,0,1.431.309,3.146,3.146,0,0,0,1.629-.429,3.36,3.36,0,0,0,1.162-1.135,2.85,2.85,0,0,0,.43-1.517V18.355a.7.7,0,0,0-.743-.729.754.754,0,0,0-.532.212.671.671,0,0,0-.225.517v5.879a1.514,1.514,0,0,1-.244.825,1.823,1.823,0,0,1-.631.6,1.675,1.675,0,0,1-.846.227,1.868,1.868,0,0,1-.668-.113,1.991,1.991,0,0,1-.592-.381,1.963,1.963,0,0,0-.353-.281A.651.651,0,0,0,11.4,25Z'/%3E%3Cpath d='M21.954,27.441a5.887,5.887,0,0,1-1.765-.245,4.221,4.221,0,0,1-1.5-.861,1.091,1.091,0,0,1-.279-.35.86.86,0,0,1-.1-.392.806.806,0,0,1,.231-.567.766.766,0,0,1,.581-.244.739.739,0,0,1,.477.168,4.448,4.448,0,0,0,1.056.657,3.312,3.312,0,0,0,1.3.225,2.7,2.7,0,0,0,.951-.162,1.852,1.852,0,0,0,.7-.434.868.868,0,0,0,.267-.623,1.06,1.06,0,0,0-.252-.714,1.934,1.934,0,0,0-.77-.5,5.983,5.983,0,0,0-1.317-.315,5.928,5.928,0,0,1-1.329-.342,3.115,3.115,0,0,1-.959-.588,2.325,2.325,0,0,1-.581-.841,2.854,2.854,0,0,1-.2-1.085,2.569,2.569,0,0,1,.47-1.554A2.928,2.928,0,0,1,20.2,17.7a4.476,4.476,0,0,1,1.763-.337,5.08,5.08,0,0,1,1.687.273,3.9,3.9,0,0,1,1.267.694.933.933,0,0,1,.407.741.8.8,0,0,1-.239.56.745.745,0,0,1-.56.252.616.616,0,0,1-.378-.126,2.554,2.554,0,0,0-.6-.371,5.437,5.437,0,0,0-.8-.294,2.9,2.9,0,0,0-.784-.119,2.932,2.932,0,0,0-1.014.154,1.383,1.383,0,0,0-.623.42.963.963,0,0,0-.21.617,1,1,0,0,0,.244.692,1.666,1.666,0,0,0,.707.435,8.231,8.231,0,0,0,1.106.287,11.128,11.128,0,0,1,1.477.363,3.468,3.468,0,0,1,1.057.539,2.038,2.038,0,0,1,.63.826,3.113,3.113,0,0,1,.21,1.211,2.5,2.5,0,0,1-.5,1.568,3.218,3.218,0,0,1-1.322,1.008A4.453,4.453,0,0,1,21.954,27.441Z'/%3E%3Cpath d='M21.954,27.565a6.013,6.013,0,0,1-1.8-.251,4.352,4.352,0,0,1-1.542-.884,1.213,1.213,0,0,1-.31-.39.985.985,0,0,1-.111-.447.936.936,0,0,1,.264-.654.894.894,0,0,1,.673-.283.865.865,0,0,1,.554.2,4.3,4.3,0,0,0,1.027.639,3.191,3.191,0,0,0,1.247.215,2.621,2.621,0,0,0,.908-.153,1.749,1.749,0,0,0,.654-.405.738.738,0,0,0,.231-.536.931.931,0,0,0-.222-.632,1.822,1.822,0,0,0-.721-.462,5.823,5.823,0,0,0-1.288-.307,6.086,6.086,0,0,1-1.359-.351,3.235,3.235,0,0,1-1-.612,2.442,2.442,0,0,1-.612-.886,2.994,2.994,0,0,1-.206-1.131,2.694,2.694,0,0,1,.494-1.627,3.072,3.072,0,0,1,1.319-1.022,4.637,4.637,0,0,1,1.812-.347,5.216,5.216,0,0,1,1.729.281A4.037,4.037,0,0,1,25,18.232a1.057,1.057,0,0,1,.45.836.924.924,0,0,1-.273.647.869.869,0,0,1-.651.291.741.741,0,0,1-.453-.151A2.438,2.438,0,0,0,23.5,19.5a5.331,5.331,0,0,0-.78-.287,2.781,2.781,0,0,0-.75-.114,2.821,2.821,0,0,0-.971.146,1.262,1.262,0,0,0-.568.38.84.84,0,0,0-.183.539.871.871,0,0,0,.212.609,1.551,1.551,0,0,0,.655.4,8.063,8.063,0,0,0,1.089.282,11.826,11.826,0,0,1,1.493.367,3.64,3.64,0,0,1,1.1.56,2.171,2.171,0,0,1,.668.876,3.242,3.242,0,0,1,.219,1.26,2.637,2.637,0,0,1-.529,1.644,3.379,3.379,0,0,1-1.373,1.047A4.617,4.617,0,0,1,21.954,27.565Zm-2.828-2.659a.645.645,0,0,0-.491.205.679.679,0,0,0-.2.482.733.733,0,0,0,.085.335.974.974,0,0,0,.248.311,4.126,4.126,0,0,0,1.455.837,5.781,5.781,0,0,0,1.727.239,4.357,4.357,0,0,0,1.721-.339,3.119,3.119,0,0,0,1.273-.969,2.387,2.387,0,0,0,.478-1.492,2.989,2.989,0,0,0-.2-1.162,1.916,1.916,0,0,0-.592-.777,3.321,3.321,0,0,0-1.019-.518,11.056,11.056,0,0,0-1.46-.36,8.285,8.285,0,0,1-1.125-.292,1.785,1.785,0,0,1-.759-.469A1.125,1.125,0,0,1,20,20.161a1.086,1.086,0,0,1,.237-.693,1.493,1.493,0,0,1,.677-.46,3.154,3.154,0,0,1,1.877-.038,5.411,5.411,0,0,1,.816.3,2.652,2.652,0,0,1,.632.39.482.482,0,0,0,.295.095.62.62,0,0,0,.47-.213.673.673,0,0,0,.2-.475.809.809,0,0,0-.359-.643,3.805,3.805,0,0,0-1.231-.673,4.958,4.958,0,0,0-1.646-.267,4.378,4.378,0,0,0-1.714.328,2.814,2.814,0,0,0-1.215.937,2.456,2.456,0,0,0-.446,1.481,2.751,2.751,0,0,0,.187,1.038,2.223,2.223,0,0,0,.551.8,2.954,2.954,0,0,0,.921.564,5.8,5.8,0,0,0,1.3.335,6.146,6.146,0,0,1,1.343.322,2.054,2.054,0,0,1,.82.532,1.19,1.19,0,0,1,.282.795.991.991,0,0,1-.3.71,1.959,1.959,0,0,1-.746.465,2.851,2.851,0,0,1-1,.169,3.446,3.446,0,0,1-1.344-.234,4.578,4.578,0,0,1-1.087-.676A.614.614,0,0,0,19.126,24.906Z'/%3E%3Cpath d='M29.429,36.744H8.571a5.259,5.259,0,0,1-5.252-5.252V6.509A5.259,5.259,0,0,1,8.571,1.256h13.32A5.239,5.239,0,0,1,25.615,2.8l7.521,7.515a5.3,5.3,0,0,1,1.545,3.728V31.492A5.259,5.259,0,0,1,29.429,36.744ZM8.571,3.756A2.757,2.757,0,0,0,5.819,6.509V31.492a2.756,2.756,0,0,0,2.752,2.752H29.429a2.756,2.756,0,0,0,2.752-2.752V14.04a2.786,2.786,0,0,0-.811-1.958L23.848,4.567a2.75,2.75,0,0,0-1.957-.811Z'/%3E%3Cpath d='M32.32,13.72H27.665A5.24,5.24,0,0,1,22.43,8.485V2.51h2.5V8.485a2.738,2.738,0,0,0,2.735,2.735H32.32Z'/%3E%3C/svg%3E");
                    }
                    &.git {
                        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg viewBox='0 0 448 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M100.59 334.24c48.57 3.31 58.95 2.11 58.95 11.94 0 20-65.55 20.06-65.55 1.52.01-5.09 3.29-9.4 6.6-13.46zm27.95-116.64c-32.29 0-33.75 44.47-.75 44.47 32.51 0 31.71-44.47.75-44.47zM448 80v352a48 48 0 0 1-48 48H48a48 48 0 0 1-48-48V80a48 48 0 0 1 48-48h352a48 48 0 0 1 48 48zm-227 69.31c0 14.49 8.38 22.88 22.86 22.88 14.74 0 23.13-8.39 23.13-22.88S258.62 127 243.88 127c-14.48 0-22.88 7.84-22.88 22.31zM199.18 195h-49.55c-25-6.55-81.56-4.85-81.56 46.75 0 18.8 9.4 32 21.85 38.11C74.23 294.23 66.8 301 66.8 310.6c0 6.87 2.79 13.22 11.18 16.76-8.9 8.4-14 14.48-14 25.92C64 373.35 81.53 385 127.52 385c44.22 0 69.87-16.51 69.87-45.73 0-36.67-28.23-35.32-94.77-39.38l8.38-13.43c17 4.74 74.19 6.23 74.19-42.43 0-11.69-4.83-19.82-9.4-25.67l23.38-1.78zm84.34 109.84l-13-1.78c-3.82-.51-4.07-1-4.07-5.09V192.52h-52.6l-2.79 20.57c15.75 5.55 17 4.86 17 10.17V298c0 5.62-.31 4.58-17 6.87v20.06h72.42zM384 315l-6.87-22.37c-40.93 15.37-37.85-12.41-37.85-16.73v-60.72h37.85v-25.41h-35.82c-2.87 0-2 2.52-2-38.63h-24.18c-2.79 27.7-11.68 38.88-34 41.42v22.62c20.47 0 19.82-.85 19.82 2.54v66.57c0 28.72 11.43 40.91 41.67 40.91 14.45 0 30.45-4.83 41.38-10.2z'/%3E%3C/svg%3E");
                        background-size: 4vh;
                    }
                    &.photoshop {
                        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg data-name='Adobe Folder 2020' id='Adobe_Folder_2020' viewBox='0 0 240 210' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23001d26;%7D.cls-2%7Bfill:%23d9f5ff;fill-rule:evenodd;%7D.cls-3%7Bfill:%2300c8ff;%7D%3C/style%3E%3C/defs%3E%3Ctitle/%3E%3Cg id='Photoshop'%3E%3Cpath class='cls-1' d='M232.5,52.5a15,15,0,0,0-15-15H7.5v150a15,15,0,0,0,15,15h195a15,15,0,0,0,15-15Z'/%3E%3Cpath class='cls-2' d='M75.81,82c0-.46,1-.81,1.57-.81,4.5-.23,11.11-.34,18-.34,19.41,0,27,10.62,27,24.25,0,17.79-12.9,25.41-28.72,25.41-2.66,0-3.58-.12-5.43-.12v26.9c0,.58-.23.81-.81.81H76.62c-.58,0-.81-.23-.81-.81Zm12.42,37.19c1.62.12,2.89.12,5.66.12,8.2,0,15.91-2.89,15.91-14,0-8.89-5.51-13.4-14.87-13.4-2.77,0-5.43.12-6.7.23Zm60.25-8.32c-5.54,0-7.39,2.78-7.39,5.09,0,2.54,1.27,4.27,8.66,8.08,11,5.32,14.44,10.4,14.44,17.91,0,11.2-8.55,17.21-20.1,17.21-6.12,0-11.33-1.28-14.33-3-.46-.23-.58-.58-.58-1.15V144.72c0-.7.35-.93.81-.58a25.9,25.9,0,0,0,14.1,4.16c5.55,0,7.86-2.31,7.86-5.43,0-2.54-1.62-4.74-8.66-8.43-9.94-4.74-14.1-9.59-14.1-17.67,0-9,7.05-16.52,19.29-16.52,6,0,10.25.92,12.56,2a1.51,1.51,0,0,1,.69,1.39v9.59c0,.57-.34.92-1,.69A25.06,25.06,0,0,0,148.48,110.87Z'/%3E%3Cpath class='cls-3' d='M217.5,30H137.63A3.41,3.41,0,0,1,135,28.88L111.75,5.63A18.2,18.2,0,0,0,98.63,0H22.5A22.57,22.57,0,0,0,0,22.5v165A22.57,22.57,0,0,0,22.5,210h195A22.57,22.57,0,0,0,240,187.5V52.5A22.57,22.57,0,0,0,217.5,30Zm15,157.5a15,15,0,0,1-15,15H22.5a15,15,0,0,1-15-15V37.5h210a15,15,0,0,1,15,15Z' data-name='Path 4' id='Path_4'/%3E%3C/g%3E%3C/svg%3E");
                        background-size: 4vh;
                    }
                }
            }
        }
    }
}

@include tablet {
    .intro {
        .wrap {
            .flex {
                flex-direction: column;
            }
        }
        .profile {
            padding: 30px;
            margin-right: 0;
        } 
        .info {
            margin: 50px 0 0 0;
            .info-box {
                .box  {
                    flex-direction: column;
                    line-height: 1;
                    margin-top: 30px;
                    &.icon {
                        flex-direction: row;
                    }
                }
            }   
        } 
    } 
}